<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>EstablecimientoController</servlet-name>
        <servlet-class>Controladores.EstablecimientoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controladores.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CanchasController</servlet-name>
        <servlet-class>Controladores.CanchasController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlquilerController</servlet-name>
        <servlet-class>Controladores.AlquilerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientesController</servlet-name>
        <servlet-class>Controladores.ClientesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CampeonatosController</servlet-name>
        <servlet-class>Controladores.CampeonatosController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PartidoController</servlet-name>
        <servlet-class>Controladores.PartidoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCampeonatos</servlet-name>
        <servlet-class>Controladores.ListarCampeonatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarCanchas</servlet-name>
        <servlet-class>Controladores.ListarCanchas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EquiposController</servlet-name>
        <servlet-class>Controladores.EquiposController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EstablecimientoController</servlet-name>
        <url-pattern>/EstablecimientoC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/loginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CanchasController</servlet-name>
        <url-pattern>/CanchasC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlquilerController</servlet-name>
        <url-pattern>/AlquilerC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientesController</servlet-name>
        <url-pattern>/ClientesC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CampeonatosController</servlet-name>
        <url-pattern>/CampeonatosC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PartidoController</servlet-name>
        <url-pattern>/PartidoC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCampeonatos</servlet-name>
        <url-pattern>/ListarCampeonatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarCanchas</servlet-name>
        <url-pattern>/ListarCanchas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EquiposController</servlet-name>
        <url-pattern>/EquiposC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
